<h1>Here are the cars in your dealership: </h1>
<ul>
  <% @dealership.cars().each do |car| %>
    <li><a href="/vehicles/<%= car.id%>"><%=car.year() %> <%=car.make() %> <%=car.model() %> </a></li>

  <% end %>
</ul>

<a href="/dealerships/<%=@dealership.id%>/vehicles/new">Add a new Vehicle</a>

<a href="/">Return Home</a>
